@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

@section Styles {
    <link rel="stylesheet" href="~/css/account.css" asp-append-version="true" />
}

<div class="account-container">
    <div class="account-form-wrapper">
        <form method="post">
            <h1>@ViewData["Title"]</h1>
            <p class="text-muted">Enter your email and we will send you a link to reset your password.</p>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-account">Reset Password</button>
        </form>
    </div>
</div>
