@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <!-- This is the conditional field for the username -->
            <div class="form-floating mb-3">
                @if (Model.CanChangeUsername)
                {
                    <input asp-for="Input.NewUsername" class="form-control" placeholder="Please choose your username." />
                    <label asp-for="Input.NewUsername" class="form-label"></label>
                    <div class="form-text">You can change your username up to 3 times per month.</div>
                }
                else
                {
                    <input asp-for="Username" class="form-control" placeholder="Please choose your username." disabled />
                    <label asp-for="Username" class="form-label"></label>
                    <div class="form-text text-danger">You have reached your monthly limit for username changes.</div>
                }
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Please enter your phone number." />
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
